.main-content{
	width: 50%;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	display: flex;
}
.company__info{
	background-color: #008080;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
/* .fa-android{
	font-size:3em;
} */
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}

.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	/* border:0px solid transparent; */
	border-radius: 0;
	border: 1px solid #aaa;
	padding: 0.5em .4em .4em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 100%;
	border-radius: 10px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 0.5em;
	margin-bottom: 1em;
	
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.btn-group .btn{
    color: white;
    border: 1px solid blue;
    /* width: 130px; */
    border-radius: 10px;
}
.bottom a{
	color: #444;
    text-decoration: none;
    font-size: 14px;
	margin-bottom: 1em;
}
.bottom a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.bottom a:hover::after {
    width: 100%;
}
.forget{
	float: left;
	
}
.user,.front{
	float: right;
	padding: 0 0.5em;
}
.err1{
	color: red;
    position: absolute;
	top: 110px;
	left: 32px;
	font-size: 14px;
}
.err2{
	color: red;
    position: absolute;
	top: 200px;
	left: 32px;
	font-size: 14px;
}
.mainerr{
	color: red;
    position: absolute;
	top: 40px;
	left: 32px;
}
.main_err2{
	color: red;
    position: absolute;
	top: 150px;
	left: 38px;
}